<a href="https://colab.research.google.com/github/BartWinter/WINC_Academy_exercise_relatively_busy_municipalities/blob/main/Relatively_busy_municipalities_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

base_url = 'https://github.com/WincAcademy/practice_data/raw/main/data/geo/'
provinces_url = f"{base_url}provinces.csv"
province_names = ["groningen","friesland","drenthe","overijssel","flevoland","gelderland","utrecht","noord-holland","zuid-holland","zeeland","noord-brabant","limburg"]
municipalities_url = [f"{base_url}municipalities/{prov_name}.csv" for prov_name in province_names]

prov_df = pd.read_csv(provinces_url)
#display(prov_df)

#concatenate the CSV files for the municipalities

mun_df = pd.concat(pd.read_csv(url) for url in municipalities_url)
display(mun_df)

,Municipality,CBS code,Province,Inhabitants,Surface Area in sq km
0,Eemsdelta,1979.0,Groningen,45857.0,267.89
1,Groningen,14.0,Groningen,232874.0,185.60
2,Het Hogeland,1966.0,Groningen,47801.0,482.75
3,Midden-Groningen,1952.0,Groningen,60797.0,280.00
4,Oldambt,1895.0,Groningen,38209.0,226.66
...,...,...,...,...,...
26,Valkenburg aan de Geul,994.0,Limburg,16367.0,36.73
27,Venlo,983.0,Limburg,101802.0,124.25
28,Venray,984.0,Limburg,43614.0,163.27
29,Voerendaal,986.0,Limburg,12475.0,31.51
30,Weert,988.0,Limburg,50105.0,104.32

In [3]:
#Drop columns that are irrelevant for municipalities
mun_df2 = mun_df.drop(columns=['CBS code'])

#Rename columns
mun_df3 = mun_df2.rename(columns={'Surface Area in sq km':'surface', 'Province':'province','Inhabitants':'inhabitants','Municipality':'municipality'})

#Calculate new column
mun_df3['province_density'] = mun_df3['inhabitants']/mun_df3['surface']

mun_df4 = mun_df3.rename(columns={'province_density':'mun_density'})
display(mun_df4)

              municipality   province  inhabitants  surface  mun_density
0                Eemsdelta  Groningen      45857.0   267.89   171.178469
1                Groningen  Groningen     232874.0   185.60  1254.709052
2             Het Hogeland  Groningen      47801.0   482.75    99.018125
3         Midden-Groningen  Groningen      60797.0   280.00   217.132143
4                  Oldambt  Groningen      38209.0   226.66   168.574076
..                     ...        ...          ...      ...          ...
26  Valkenburg aan de Geul    Limburg      16367.0    36.73   445.603049
27                   Venlo    Limburg     101802.0   124.25   819.331992
28                  Venray    Limburg      43614.0   163.27   267.128070
29              Voerendaal    Limburg      12475.0    31.51   395.906062
30                   Weert    Limburg      50105.0   104.32   480.300997

[352 rows x 5 columns]

**Calculate the busiest and the least busy municipality per province using groupby**

In [45]:
mun_df4.groupby(['province'], as_index=False)[['municipality','mun_density']].agg(['max', 'min'])

                   municipality                    mun_density
                            max               min          max         min
province
Drenthe              Westerveld       Aa en Hunze   837.696910   69.911981
Flevoland              Zeewolde            Almere  1640.165647   91.627230
Friesland      Weststellingwerf     Achtkarspelen   629.887821   23.382716
Gelderland              Zutphen            Aalten  3346.374082   61.075269
Groningen           Westerwolde         Eemsdelta  1254.709052   93.347118
Limburg                   Weert              Beek  2171.369887  126.743510
Noord-Brabant           Zundert  's-Hertogenbosch  2673.899156   90.084056
Noord-Holland         Zandvoort          Aalsmeer  5584.573192   83.796296
Overijssel               Zwolle            Almelo  1477.308585  100.105614
Utrecht                   Zeist        Amersfoort  3811.115848  191.438401
Zeeland              Vlissingen           Borsele  1292.917517   83.082761
Zuid-Holland        Zwijndrecht      Alblasserdam  6620.230443  192.141431